*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backgrounds{
    background-color: aqua;
    height: calc(100vh - 167px);
    position: relative;
    background-image: url("../../assets/bg.jpg");
    background-size: cover;
    background-position: center;
}
.backgrounds::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.items{
    background-color: chartreuse;
}